* {
  box-sizing: border-box; /* Pour inclure les marges et les bordures dans le calcul de la largeur */
  margin: 0;
  padding: 0;
}
*{
  font-family: 'Mooli', sans-serif;
  font-size: 20px;
  
}

#Cv {
  text-align: center;
  display: flex;
}
#Namee{
font-size: 30px;  
}

#second {
  background-color: #fff7f1;
  flex: 7; /* Utilise 70% de l'espace disponible */
  width: 70%;
  /* Ne pas utiliser float: right; */
}

#first {
  background-color: #e1c5ad;
  flex: 3; /* Utilise 30% de l'espace disponible */
  width: 25%;
  /* Ne pas utiliser float: left; */
}
h1{color: #966F53;
font-size: 40px;}